@font-face {
    font-family: 'SVN-Outfit';
    font-weight: 900;
    src: local('SVN-Outfit'), url("./fonts/TTF/SVN-Outfit-Black.ttf") format('opentype');
}

@font-face {
    font-family: 'SVN-Outfit';
    font-weight: 800;
    src: local('SVN-Outfit'), url("./fonts/TTF/SVN-Outfit-ExtraBold.ttf") format('opentype');
}

@font-face {
    font-family: 'SVN-Outfit';
    font-weight: 700;
    src: local('SVN-Outfit'), url("./fonts/TTF/SVN-Outfit-Bold.ttf") format('opentype');
}
@font-face {
    font-family: 'SVN-Outfit';
    font-weight: 600;
    src: local('SVN-Outfit'), url("./fonts/TTF/SVN-Outfit-SemiBold.ttf") format('opentype');
}


@font-face {
    font-family: 'SVN-Outfit';
    font-weight: 500;
    src: local('SVN-Outfit'), url("./fonts/TTF/SVN-Outfit-Medium.ttf") format('opentype');
}

@font-face {
    font-family: 'SVN-Outfit';
    font-weight: 400;
    src: local('SVN-Outfit'), url("./fonts/TTF/SVN-Outfit-Regular.ttf") format('opentype');
}

@font-face {
    font-family: 'SVN-Outfit';
    font-weight: 300;
    src: local('SVN-Outfit'), url("./fonts/TTF/SVN-Outfit-Light.ttf") format('opentype');
}

@font-face {
    font-family: 'SVN-Outfit';
    font-weight: 200;
    src: local('SVN-Outfit'), url("./fonts/TTF/SVN-Outfit-ExtraLight.ttf") format('opentype');
}

@font-face {
    font-family: 'SVN-Outfit';
    font-weight: 100;
    src: local('SVN-Outfit'), url("./fonts/TTF/SVN-Outfit-Thin.ttf") format('opentype');
}